.post{
	width:95%;
	max-width:100% !important
}

.post-header {
    text-align: center;
}

.post-content p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.iFrame{
	width:100%
}

@media only screen and (max-width: 500px){
    .post {
        width: auto !important;
   }
}

@media only screen and (max-width: 1200px) {
    .post-content p {
        width: 70%;
    }
}
